hw3/checkpoints
saving_files.zip
hw3/finetuned_last_2.pt
hw3/finetuned_all.pt
hw3/toy_transfomer_encoder.pt
hw3/trained_transfomer_encoder.pt
hw3/hw3-213382104_207933961.html
hw3/hw3-213382104_207933961.zip
Final Project/code/cifar10_data
